
   
<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>TO DO</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href = "{% static '/css/mess_manager.css' %}" rel="stylesheet">
    <body style="height: 1080px;border-width: 1px;border-color: rgb(255,255,255);background: rgb(243,243,251);">
        <div class="col" style="position: sticky;top: 0;z-index: 100;box-shadow: 0px 1px 8px;">
            <div class="row">
                <div class="col">
                    <!-- Start: Navigation with Search -->
                    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-search" style="background: #6713ef;">
                        <div class="container-fluid"><img src="assets/img/Untitled-1.png?h=b9f93fdf42fc37ce83b3b7718831767a" style="width: 50px;margin-left: -16px;"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);font-size: 30px;">DigiCampus</a><button data-bs-toggle="collapse"
                                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="navbar-nav">
                                    <li class="nav-item" style="width: 60px;height: 40px;"><button class="btn btn-primary" type="button" style="background: rgb(103,19,239);transform: scale(1.33);border-width: 0px;"><i class="fa fa-bell-o" style="transform: scale(1.33);"></i></button></li>
                                    <li class="nav-item" style="width: 60px;">
                                        <a class="nav-link" href="profile.html" style="height: 40px;padding-left: 0px;"><img src="assets/img/ereh1.jpg?h=f00ddba964ff67f0c865b2488fa611ea" style="width: 40px;border-radius: 20px;transform: translateY(0px);margin-top: -8px;border: 2px solid var(--bs-white) ;"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- End: Navigation with Search -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs" style="background: #ffffff;">
                        <li class="nav-item">
                            <a class="nav-link active" href="{%url 'dashboard_view' %}" % style="font-family: 'Nunito Sans', sans-serif;">
                                <i class="fas fa-border-all"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'mess_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                                <i class="fas fa-utensils" ></i> Mess
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'qrcode_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                                <i class="fas fa-qrcode"></i> QR Code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</head>
<body>
	<div class="container">

		<div id="task-container">
			<div id="form-wrapper">
				<form id="form">
					<div class="flex-wrapper">
						<div style="flex: 6">
							<input id="title" class="form-control" type="text" name="title" placeholder="Add task">
						</div>
						<div style="flex: 1">
							<input id="submit" class="btn" type="submit" >
						</div>
					</div>
				</form>
			</div>

			<div id="list-wrapper">
			
			</div>	
		</div>

	</div>

	{% comment %} <script type="text/javascript">
		/*
			KEY COMPONENTS:
			"activeItem" = null until an edit button is clicked. Will contain object of item we are editing
			"list_snapshot" = Will contain previous state of list. Used for removing extra rows on list update
			
			PROCESS:
			1 - Fetch Data and build rows "buildList()"
			2 - Create Item on form submit
			3 - Edit Item click - Prefill form and change submit URL
			4 - Delete Item - Send item id to delete URL
			5 - Cross out completed task - Event handle updated item
			NOTES:
			-- Add event handlers to "edit", "delete", "title"
			-- Render with strike through items completed
			-- Remove extra data on re-render
			-- CSRF Token
		*/

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		var activeItem = null
		var list_snapshot = []

		buildList()

		function buildList(){
			var wrapper = document.getElementById('list-wrapper')
			//wrapper.innerHTML = ''



			var url = 'http://127.0.0.1:8000/api/task-list/'

			fetch(url)
			.then((resp) => resp.json())
			.then(function(data){
				console.log('Data:', data)

				var list = data
				for (var i in list){


					try{
						document.getElementById(`data-row-${i}`).remove()
					}catch(err){

					}
			


					var title = `<span class="title">${list[i].title}</span>`
					if (list[i].completed == true){
						title = `<strike class="title">${list[i].title}</strike>`
					}

					var item = `
						<div id="data-row-${i}" class="task-wrapper flex-wrapper">
							<div style="flex:7">
								${title}
							</div>
							<div style="flex:1">
								<button class="btn btn-sm btn-outline-info edit">Edit </button>
							</div>
							<div style="flex:1">
								<button class="btn btn-sm btn-outline-dark delete">-</button>
							</div>
						</div>
					`
					wrapper.innerHTML += item
	
				}

				if (list_snapshot.length > list.length){
					for (var i = list.length; i < list_snapshot.length; i++){
						document.getElementById(`data-row-${i}`).remove()
					}
				}

				list_snapshot = list


				for (var i in list){
					var editBtn = document.getElementsByClassName('edit')[i]
					var deleteBtn = document.getElementsByClassName('delete')[i]
					var title = document.getElementsByClassName('title')[i]


					editBtn.addEventListener('click', (function(item){
						return function(){
							editItem(item)
						}
					})(list[i]))


					deleteBtn.addEventListener('click', (function(item){
						return function(){
							deleteItem(item)
						}
					})(list[i]))



					
					title.addEventListener('click', (function(item){
						return function(){
							strikeUnstrike(item)
						}
					})(list[i]))


				}


			})
		}


		var form = document.getElementById('form-wrapper')
		form.addEventListener('submit', function(e){
			e.preventDefault()
			console.log('Form submitted')
			var url = 'http://127.0.0.1:8000/api/task-create/'
			if (activeItem != null){
				var url = `http://127.0.0.1:8000/api/task-update/${activeItem.id}/`
				activeItem = null
			}



			var title = document.getElementById('title').value
			fetch(url, {
				method:'POST',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'title':title})
			}
			).then(function(response){
				buildList()
				document.getElementById('form').reset()
			})
		})




		function editItem(item){
			console.log('Item clicked:', item)
			activeItem = item
			document.getElementById('title').value = activeItem.title
		}


		function deleteItem(item){
			console.log('Delete clicked')
			fetch(`http://127.0.0.1:8000/api/task-delete/${item.id}/`, {
				method:'DELETE', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				}
			}).then((response) => {
				buildList()
			})
		}

		function strikeUnstrike(item){
			console.log('Strike clicked')

			item.completed = !item.completed
			fetch(`http://127.0.0.1:8000/api/task-update/${item.id}/`, {
				method:'POST', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'title':item.title, 'completed':item.completed})
			}).then((response) => {
				buildList()
			})
		}


	</script> {% endcomment %}

</body>
</html>
