<!DOCTYPE html>

<body id="page-top" style = "background-image: url('https://i.pinimg.com/564x/5e/b2/76/5eb2762c9057650bef9a1240c0677daa.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
  
    <table style="border:1px solid black;margin-left:auto;margin-right:auto; width:30%;height=150px;bordercolor:white;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;">
 

    <tr>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;"><b>ITEMS</b></td>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;"><b>QUANTITY</b></td>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;"><b>PRICE</b></td>
    </tr>
    <tr>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_1}}</td>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_1}} </td>
      <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_1}} </td>
    </tr>
    <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_2}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_2}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_2}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_3}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_3}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_3}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_4}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_4}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_4}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_5}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_5}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_5}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_6}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_6}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_6}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_6}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_6}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_6}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_6}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_6}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_6}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_6}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_6}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_6}} </td>
      </tr>
      <tr>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Selected_6}}</td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Quantity_6}} </td>
        <td style=" color:white; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{Price_6}} </td>
      </tr>
      
      
    
  </table>
  <center style="textalign:center;margin-left:auto;margin-right:auto"><button type="button">Confirm Order</button>  <button type="button">Cancel Order</button></center>
